Automated E-Commerce Sales Intelligence & Anomaly Detection System/n8n/Automated RFM Monitoring with Slack Alerts (n8n + MySQL).json
{
  "name": "Automated RFM Monitoring with Slack Alerts (n8n + MySQL)",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0b80dae-303b-489a-b89b-1f90ae7e4491",
              "name": "message",
              "value": "n8n is working",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "822328fb-fc2a-4b4b-a8a5-d8a125f9540f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  rfm_segment,\n  snapshot_date,\n  customer_count,\n  LAG(customer_count) OVER (\n    PARTITION BY rfm_segment\n    ORDER BY snapshot_date\n  ) AS prev_day_count\nFROM rfm_segment_daily_snapshot\nWHERE snapshot_date >= CURRENT_DATE - INTERVAL 3 DAY\n  AND rfm_segment = 'At Risk'\n  AND (\n    last_alerted_at IS NULL\n    OR last_alerted_at < NOW() - INTERVAL 3 DAY\n  )\nORDER BY snapshot_date;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        624,
        0
      ],
      "id": "a78e16ec-7ef4-4933-bdd7-e1cdb1a614a6",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "zPWoL4rjfokDhtSP",
          "name": "MySQL account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nlet positiveDays = 0;\nlet totalIncrease = 0;\n\n// Count positive day changes and total increase\nfor (const r of rows) {\n  if (r.day_change !== null && r.day_change > 0) {\n    positiveDays++;\n    totalIncrease += r.day_change;\n  }\n}\n\n// Base count = first day customer count\nconst base = rows[0].customer_count;\nconst pctChange = base > 0 ? (totalIncrease / base) * 100 : 0;\n\n// --- SEVERITY LOGIC ---\nlet severity = 'LOW';\nlet alert = false;\n\nif (\n  rows[0].rfm_segment === 'At Risk' &&\n  positiveDays >= 2 &&\n  pctChange >= 20\n) {\n  severity = 'CRITICAL';\n  alert = true;\n} else if (\n  rows[0].rfm_segment === 'At Risk' &&\n  positiveDays >= 2 &&\n  pctChange >= 10\n) {\n  severity = 'MEDIUM';\n  alert = true;\n}\n\n// --- COOLDOWN LOGIC (STEP 8.2.1) ---\nlet cooldownDays;\n\nif (severity === 'CRITICAL') {\n  cooldownDays = 1;\n} else if (severity === 'MEDIUM') {\n  cooldownDays = 3;\n} else {\n  cooldownDays = 7;\n}\n\n// --- FINAL OUTPUT ---\nreturn [{\n  json: {\n    rfm_segment: rows[0].rfm_segment,\n    days_confirmed: positiveDays,\n    total_increase: totalIncrease,\n    pct_change: Number(pctChange.toFixed(2)),\n    severity,\n    alert,\n    cooldown_days: cooldownDays,\n    run_date: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "6560aeb2-2c30-4227-a9b0-2a0f12be186a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa687163-39f4-4004-b20b-18046c3565e3",
              "leftValue": "={{$json.alert}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        0
      ],
      "id": "db8036d2-2dc4-464a-a608-3f1a85a4e67d",
      "name": "If"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#new-channel",
          "mode": "name"
        },
        "text": "=🚨 RFM Trend Alert (3-Day Confirmation)\n\nSegment: *{{ $json.rfm_segment }}*\nSeverity: *{{ $json.severity }}*\n\nDay-1 Customers: {{ $json.day_1 }}\nDay-2 Customers: {{ $json.day_2 }}\nDay-3 Customers: {{ $json.day_3 }}\n\n3-Day Growth: {{ $json.pct_change }}%\nRun Time: {{ $json.run_date }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1248,
        -96
      ],
      "id": "2d80d4cf-afb0-484a-8d91-7e766beabfb9",
      "name": "Send a message",
      "webhookId": "d335f994-0db7-4199-921e-e0442fbd2926",
      "credentials": {
        "slackApi": {
          "id": "AY7HKLALZ5YjVA3c",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "267d1ef6-0163-4cf8-8e83-ec470ca345cb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rfm_segment_daily_snapshot\nSET alert_sent = TRUE\nWHERE snapshot_date = CURRENT_DATE\n  AND rfm_segment = 'At Risk';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1456,
        -96
      ],
      "id": "8200cb56-8a02-4e99-8962-8a9c53a549ce",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "zPWoL4rjfokDhtSP",
          "name": "MySQL account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "29f95f31-0e77-4286-909f-17d2aa1de5c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6865977065fe88349facc14d2169f7ca5121a3f5fe81ac8224e578f9346f9b96"
  },
  "id": "S2t40VEJ47TddXMwwlM9S",
  "tags": []
}